*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    max-width: 800px;
    margin: 0 auto;
    background-color: #ddd;
}
header{
    height: 500px;
    background-image: url("https://images.unsplash.com/photo-1575936123452-b67c3203c357?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60");
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}
.nav{ 
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
}
nav div{
    display: flex;
}
nav div .icon{
    width: 60px;
    height: 100%;
    background-color: rgb(240, 86, 86);
}
ul{
    list-style: none;
    display: flex;

}
nav h1{
    color: rgb(240, 86, 86);

}
li, nav h1{
    padding: 20px;
}
li:hover{
    color: rgb(240, 86, 86);
    border-top: 2px solid rgb(240, 86, 86);
}

.text-container{
    padding-top: 100px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
    color: #ddd;
    text-align: center;
}
.text-container h1,.text-container hr, .text-container p{
    margin-top: 20px;
}

button {
    background-color: rgb(240, 86, 86);
    padding: 10px; 
    border-radius: 5px;
    margin-top: 20px;

  
}
button a {
    color: white;
    text-decoration: none;
}  

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}
.icons i{
    padding: 10px;
    background-color: white;
    border-radius: 50%;
}
.parent-info {
    padding-top: 100px;
    width: 80%;
    max-width: 300px;
    margin: 0 auto;
   
    text-align: center;
}

.parent-info h3,.parent-info hr, .parent-info p {
    margin-top: 20px;
}

.ota-quti{
    display: flex;
    gap: 20px;
    justify-content: center;
    margin: 20px 0;
}
.quti {
    width: 200px;
    height: 160px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
   

  }
  .quti:nth-child(1){
    background-color: aqua;
  }
  .quti:nth-child(2){
    background-color: orange
  }
  .quti:nth-child(3){
    background-color: dodgerblue;
  }
  .quti:nth-child(4){
    background-color: greenyellow;
  }
.nuqta {
display: flex;
align-items: center;
justify-content: center;
gap: 5px;
font-size: 12px;
color: gray;
margin: 20px 0;
}
.nuqta i:nth-child(1){
    color: black;
}


.portfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 20px;
}



.images{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.images img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    border: 1px solid gray;
}
.portfalio h3, .portfalio hr, .portfalio p{
    margin-top: 20px;
}



